App.css

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #7c3f3f;
  display: flex;
  flex-direction: column;
  align-items: center;    /* Centra horizontalmente */
  justify-content: flex-start;
  padding: 20px;
}

.main-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.crear-pokemon {
  max-width: 320px;
  margin: 0 auto 30px auto;  /* Centra y margen abajo */
  text-align: center;
}

input, select {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #eac7c7;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  background-color: #ff6666;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #ff4c4c;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  justify-content: center; /* Centra las tarjetas */
}

.pokemon-card {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  width: 160px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.pokemon-card h3 {
  font-size: 1.1em;
  color: #333;
}

.pokemon-card p {
  font-size: 0.9em;
  color: #666;
}

.button-group {
  display: flex;
  gap:0;            /* Separación entre botones */
  justify-content: center;
  margin-top: 10px;
  padding:2px;
  margin: 5px;
  width: 100%;
}